# Environment & Secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/